* {
  box-sizing:border-box;
}

#root {
  width:380px;
  margin:40px auto;
  height:440px;
  text-align:center;
  border-radius:3%;
}

.btn {
  margin:50px auto;
  cursor:pointer;
  width:30%;

}

.bg {
  background-color:#F1F1F1; 
  border:1px solid #c1baba;
  box-shadow: 2px 2px 7px #c1baba;

}

.btn-success {
width:150px;
height:40px;
margin:5px;
cursor:pointer;
padding:7px;
border-radius:5%;
display:inline-block;
}

.question {
  padding:30px;
  font-weight:bold;
  font-size:18px;
  color:#346027;
}

.answers {
  margin:16px 0;
}

.checked {
  opacity:0.7;
}

.btn-primary {
  width:200px;
}

.final {
  padding:5px;
}

.ansdiv {
  height:40px;
  margin: 10px 2px;
  color:black;
  border-radius:5%;
  text-align:center;
  width:95%;
  padding:5px 0;
}

.fa-times {
  color:red;
  margin-left:7px;
}

.fa-check {
  color:green;
  margin-left:7px;
}

#colleft {
  float:left;
  width:48%;
  height:280px;
  padding:5px;
}

#colright {
  float:right;
  width:48%;
  height:280px;
  padding:5px;
}